#works {
  grid-template-rows: 25% 25% 25% 25%;
  height: 650px;
}

#my_work {
  grid-row: 1 / 1 span;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 650px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.snapshot_portfolio {
  width: 80%;
  height: 300px;
  background: url(/statics/images/blob.png);
  background-size: 100% 300px;
  border-radius: 8px;
  grid-column: 1/2 span;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#ptext {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0;
  width: 500px;
  height: 80px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.ptitle {
  width: 295px;
  height: 36px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 240px;
  height: 24px;
  justify-content: space-between;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.pdesc {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  width: 295px;
  height: 76px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.skills {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 240px;
  height: 24px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.skill1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 53px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 2;
  flex-grow: 0;
  text-align: center;
}

.skill2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 29px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 2;
  flex-grow: 0;
  text-align: center;
}

.skill3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 89px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 2;
  flex-grow: 0;
  text-align: center;
}

.title1 {
  width: 29px;
  height: 16px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.title2 {
  width: 29px;
  height: 16px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.title3 {
  width: 89px;
  height: 16px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.data-inf {
  margin-left: 24px;
  margin-top: 114px;
  margin-right: 12px;
}

#presentation {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

#presentation:hover {
  text-decoration: underline;
  text-decoration-color: #344563;
  text-decoration-thickness: 1px;
}

#profile_link {
  display: flex;
  flex-direction: column;
}

#profile_link h2 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

#profile_link h2:hover {
  text-decoration: underline;
  text-decoration-color: #18a0fa;
  text-decoration-thickness: 3px;
}

#profile_link ul {
  display: flex;
  padding-left: 0;
}

#profile_link ul li {
  list-style: none;
  margin-right: 12px;
}

#my_resume {
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  border: 1px solid #396df2;
  border-radius: 5px;
  text-align: center;
  padding: 10px 0;
  align-self: baseline;
}

#my_resume:hover {
  text-decoration: underline;
  text-decoration-color: black;
  text-decoration-thickness: 1px;
}

#my_skills {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  margin-left: 24px;
}

#languages_skills {
  display: flex;
  flex-direction: column;
}
