body {
  background-color: #f7f7f9;
  font-family: Poppins, sans-serif;
  margin: 0;
}

button {
  text-decoration: none !important;
}

.nav_link {
  display: none;
}

p:hover {
  text-decoration: underline;
  text-decoration-color: #396df2;
  text-decoration-thickness: 2px;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 24px;
  height: 620px;
  background-color: #fff;
  border-radius: 0 0 0 5%;

}

.toolbar {
  display: flex;
  justify-content: space-between;
}

#nav {
  display: flex;
  justify-content: space-between;
}

.mylogo {
  flex-direction: row;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  margin-top: 10px;
}

.hd3 {
  display: flex;
  margin: 12px 24px 0 24px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.contact ul {
  display: flex;
  align-items: center;
  padding-left: 0;
  margin-left: 24px;
}

.icon_home {
  list-style-type: none;
  margin-right: 20px;
}

.icon {
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 30px;
  left: 70%;
}

.nav:hover {
  cursor: pointer;
}

#home_presentation {
  background-image:
    url('../statics/images/Ellipse 11.png'),
    url('../statics/images/Rectangle 4.png'),
    url('../statics/images/Ellipse\ 3.png'),
    url('../statics/images/Ellipse\ 8.png'),
    url('../statics/images/Ellipse\ 5.png'),
    url('../statics/images/Rectangle\ 7.png'),
    url('../statics/images/Ellipse 12.png'),
    url('../statics/images/Ellipse 4.png'),
    url('../statics/images/Rectangle\ 5.png'),
    url('../statics/images/Ellipse\ 13.png'),
    url('../statics/images/Ellipse\ 15.png');
  background-position:
    19px 79px,
    294px 68px,
    323px 102px,
    214px 110px,
    125px 106px,
    127px 98px,
    370px 385px,
    290px 509px,
    240px 507px,
    357px 392px,
    106px 497px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
  align-items: flex-start;
  top: 50px;
  width: 100%;
  position: absolute;
}

.short-presentation {
  padding: 0 15px;
  height: 150px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#home_presentation p {
  font-family: Poppins, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: 12px 24px 0 24px;
  align-content: center;
  position: relative;
}

#works {
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-columns: max-content;
  padding: 114px 24px;
  margin: 0;
  gap: 40px;
  width: 100%;
  height: 3800px;
  position: absolute;
  top: 650px;
  left: calc(50% - 375px / 2);
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.mwp1 {
  grid-row: 1 / 1 span;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  padding: 16px;
  gap: 40px;
  height: 800px;
  left: 0;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.mwp2 {
  grid-row: 2 / 1 span;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 40px;
  height: 800px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.mwp3 {
  grid-row: 3 / 1 span;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 40px;
  height: 800px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.mwp4 {
  grid-row: 4 / 1 span;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 10px;
  height: 800px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.sp1 {
  width: 295px;
  height: 220px;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  background: url(/statics/images/Snapshoot_Portfolio.png);
}

.sp2 {
  width: 295px;
  height: 220px;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  background: url(/statics/images/Snapshoot_Portfolio1.png);
}

.sp3 {
  width: 295px;
  height: 220px;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  background: url(/statics/images/Snapshoot_Portfolio3.png);
}

.sp4 {
  width: 295px;
  height: 220px;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  background: url(/statics/images/Snapshoot_Portfolio3.png);
}

.lb2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 295px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.pt2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 295px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.prt2 {
  width: 295px;
  height: 80px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.prt2 :hover {
  text-decoration: underline;
  text-decoration-color: #18a0fa;
}

.fr2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  width: 236px;
  height: 32px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.tl {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0;
  width: 55px;
  height: 32px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.tlt {
  width: 55px;
  height: 16px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.jt {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0;
  width: 89px;
  height: 32px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.jtt {
  width: 89px;
  height: 16px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.yr {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0;
  width: 29px;
  height: 32px;
  flex: none;
  order: 4;
  flex-grow: 0;
}

.yrt {
  width: 29px;
  height: 16px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.ct {
  width: 8px;
  height: 8px;
  background: #c1c7d0;
  border-radius: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.ct1 {
  width: 8px;
  height: 8px;
  background: #c1c7d0;
  border-radius: 10px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.jhora {
  width: 295px;
  height: 76px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.tgs {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 203px;
  height: 24px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.li1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 53px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.lp1 {
  width: 29px;
  height: 16px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.li2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 45px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.lp2 {
  width: 21px;
  height: 16px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.li3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 89px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.lp3 {
  width: 65px;
  height: 16px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.btl {
  width: 295px;
  height: 72px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.btn {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 124px;
  height: 48px;
  left: 0;
  top: calc(50% - 48px / 2);
  border: 1px solid #6070ff;
  border-radius: 8px;
}

.btn:hover {
  background-color: #6070ff; 
}

.btt:hover {
  color: #fff;
}

.btt {
  width: 100px;
  height: 24px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
}

#ptext {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0;
  width: 500px;
  height: 80px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.ptitle {
  width: 295px;
  height: 36px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 240px;
  height: 24px;
  justify-content: space-between;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.pdesc {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  width: 295px;
  height: 76px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.skills {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 240px;
  height: 24px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

#about_me {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 114px 24px;
  gap: 24px;
  position: absolute;
  height: 1125.15px;
  left: calc(50% - 375px / 2);
  flex: none;
  order: 0;
  flex-grow: 0;
  top: 4506px;
  background: #fff;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 327px;
  height: 409px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.pta1 {
  width: 327px;
  height: 101px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.smd {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 16px;
  width: 200px;
  height: 80px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.st {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 117px;
  height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.stt {
  width: 117px;
  height: 24px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.fra {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  width: 200px;
  height: 40px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.nb1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

a {
  text-decoration: none !important;
}

.rsm {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 162px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  flex: none;
  order: 3;
  flex-grow: 0;
  transition: 1s;
}

.rsm:hover {
  width: 230px;
  background-color: #6070ff;
  justify-content: center;
}

.rsm:hover a {
  color: #000;
}

.brt {
  width: 138px;
  height: 24px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.ss {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 327px;
  height: 464.15px;
  list-style-type: none;
}

.frs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 327px;
  height: 320.15px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frs1 {
  width: 327px;
  height: 72px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frs2 {
  width: 327px;
  height: 72px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.frs3 {
  width: 327px;
  height: 72px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.lng {
  position: absolute;
  height: 24px;
  left: 12px;
  right: 78px;
  top: calc(50% - 24px / 2);
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.ll {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  gap: 12px;
  width: 327px;
  height: 248.15px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.ll1 {
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.pro {
  display: flex;
  flex-direction: row;
  flex: none;
  order: 0;
  flex-grow: 0;
  background-color: #dfe1e6;
  margin-bottom: 2px;
  border-radius: 10px;
  align-items: center;
}

#spec_name {
  display: flex;
  flex-direction: row;
  flex: 1;
  order: 0;
  flex-grow: 0;
  align-items: center;
  justify-content: space-between;
}

.lfs {
  display: flex;
  flex-direction: row;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-weight: 600;
  line-height: 20px;
  font-size: 20px;
}

.lhr {
  display: flex;
  flex-direction: row;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.lfsi {
  display: flex;
  flex-direction: row;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.img1 {
  display: flex;
  flex-direction: row;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding: 0 15px;
  height: 30px;
}

.lng1 {
  display: flex;
  flex-direction: row;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.llt1 {
  position: absolute;
  height: 24px;
  left: 76px;
  right: 12px;
  top: calc(50% - 24px / 2 - 0.36px);
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
}

.lli1 {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 40px;
  top: calc(50% - 48px / 2 - 0.36px);
  background: url(statics/images/java.png);
  border: 1px solid #fff;
}

.nbs1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 26px;
  top: calc(50.5%);
  border-radius: 8px;
}

#presentation {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

#profile_link {
  display: flex;
  flex-direction: column;
}

#profile_link h2 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

#profile_link h2:hover {
  text-decoration: underline;
  text-decoration-color: #18a0fa;
  text-decoration-thickness: 3px;
}

#profile_link ul {
  display: flex;
  padding-left: 0;
}

#profile_link ul li {
  list-style: none;
  margin-right: 12px;
}

#my_resume {
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  border: 1px solid #396df2;
  border-radius: 5px;
  text-align: center;
  padding: 10px 0;
  align-self: baseline;
}

#my_resume:hover {
  text-decoration: underline;
  text-decoration-color: black;
  text-decoration-thickness: 1px;
}

#my_skills {
  display: flex;
  flex-direction: column;
  margin-top: 85px;
  margin-left: 24px;
}

#languages_skills {
  display: flex;
  flex-direction: column;
}

.form-section {
  background-image:
    url('statics/images//statics/e1.svg'),
    url('statics/images/r1.svg'),
    url('statics/images/e2.svg'),
    url('statics/images/r2.svg'),
    url('statics/images/e3.svg'),
    url('statics/images/r3.svg'),
    url('statics/images/e4.svg'),
    url('statics/images/e5.svg'),
    url('statics/images/contact-form-\ background.svg');
  background-repeat: no-repeat;
  background-position:
    5.2% 44%,
    5.83% 40.07%,
    120% 8.06%,
    100.16% 8%,
    24.86% 90.19%,
    23.4% 87.58%,
    36.4% 13.47%,
    78.4% 61.58%,
    0;
  background-size: auto, auto, 90px 89px, auto, auto, auto, auto, auto, cover;
  position: absolute;
  width: 375px;
  height: 689px;
  margin-top: 100px;
  top: 5579px;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: calc(50% - 375px / 2);
}

input {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
  padding: 0 18px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 300px;
  height: 48px;
}

textarea {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
  padding: 4px 18px;
}

.contact-title {
  display: flex;
  flex-direction: column;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  align-items: center;
  text-align: center;
  color: #fff;
}

.contact-desc {
  display: flex;
  flex-direction: column;
  height: 102px;
  left: 24px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 330px;
}

input::placeholder {
  color: #172b4d;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  padding: 18px;
}

textarea::placeholder {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  padding: 18px;
}

.form-comment {
  height: 150px;
}

button {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  color: #7f8cff;
  background-color: #fff;
  padding: 12px 12px 12px 12px;
  border: 1px solid #7f8cff;
  transition: 0.4s all;
  border-radius: 10px;
}

button:active {
  color: #fff;
  background-color: #2230d2;
}

button:disabled {
  background-color: #f4f1f0;
  color: #c1c7d0;
  border: 1px solid #c1c7d0;
}

.form-container button {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  width: 140px;
  height: 48px;
  left: 24px;
  background: #fff;
  border-radius: 8px;
}

.form-container button:hover {
  color: #fff;
  background-color: #6070ff;
}

@media (min-width: 1024px) {
  .toolbar {
    justify-content: space-around;
    width: 100%;
    justify-self: end;
  }

  .mylogo {
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    margin-top: 10px;
  }

  .icon img {
    display: none;
  }

  .icon ul {
    display: flex;
    justify-content: space-between;
    min-width: 190px;
  }

  #nav {
    display: flex;
    justify-content: space-around;
  }

  #nav .nav_link li {
    list-style: none;
  }

  #nav .nav_link li a {
    text-decoration: none;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  .home-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    height: 500px;
    border-radius: 0 0 0 5%;
    gap: 20px;
    padding-top: 30px;
  }

  #home_presentation {
    background-image: url(statics/images/Header_bg.png);
    background-size: 100% 100%;
    background-position: top 119px left 34.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    align-items: flex-start;
    top: 40px;
    padding: 0 15%;
  }

  .short-presentation {
    height: 150px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #172b4d;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  #works {
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    width: 96%;
    padding: 114px 12px;
    margin-left: -420px;
    gap: 40px;
    height: 2200px;
    position: absolute;
    border-radius: 16px;
    grid-row-gap: 20px;
    align-items: flex-start;
  }

  .mwp1 {
    grid-row: 1 / 1 span;
    display: grid;
    grid-template-columns: 50% 50%;
    box-sizing: border-box;
    align-items: center;
    padding: 16px;
    gap: 40px;
    height: 550px;
    left: 0;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    width: 100%;
    margin-left: 10%;
    grid-column-gap: 10px;
  }

  .mwp2 {
    grid-row: 2 / 1 span;
    display: grid;
    grid-template-columns: 50% 50%;
    box-sizing: border-box;
    align-items: center;
    left: 0;
    gap: 40px;
    width: 100%;
    height: 550px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    margin-left: 10%;
    margin-bottom: 0;
    grid-column-gap: 20px;
  }

  .mwp3 {
    grid-row: 3 / 1 span;
    display: grid;
    grid-template-columns: 50% 50%;
    box-sizing: border-box;
    align-items: center;
    padding: 16px;
    gap: 40px;
    height: 550px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    width: 100%;
    margin-left: 10%;
    grid-column-gap: 20px;
  }

  .mwp4 {
    grid-row: 4 / 1 span;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: max-content;
    box-sizing: border-box;
    align-items: center;
    padding: 16px;
    gap: 10px;
    height: 550px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    width: 100%;
    margin-left: 10%;
    margin-top: 0;
    grid-column-gap: 20px;
  }

  .sp1 {
    grid-column: 1 / 1 span;
    width: 500px;
    display: grid;
    height: 500px;
    border-radius: 8px;
    background: url(statics/images/Snapshoot_Portfolio.png);
    background-size: 80%;
    background-repeat: no-repeat;
    left: 24px;
    background-position: 10% 50%;
  }

  .sp2 {
    grid-column: 1 / 1 span;
    width: 500px;
    display: grid;
    height: 500px;
    border-radius: 8px;
    background: url(statics/images/Snapshoot_Portfolio1.png);
    background-size: 80%;
    background-repeat: no-repeat;
    left: 24px;
    background-position: 10% 50%;
  }

  .sp3 {
    grid-column: 1 / 1 span;
    width: 500px;
    display: grid;
    height: 500px;
    border-radius: 8px;
    background: url(/statics/images/Snapshoot_Portfolio2.png);
    background-size: 80%;
    background-repeat: no-repeat;
    left: 24px;
    background-position: 10% 50%;
  }

  .sp4 {
    grid-column: 1 / 1 span;
    width: 500px;
    display: grid;
    height: 500px;
    border-radius: 8px;
    background: url(/statics/images/Snapshoot_Portfolio3.png);
    background-size: 80%;
    background-repeat: no-repeat;
    left: 24px;
    background-position: 10% 50%;
  }

  #about_me {
    background-color: #fff;
    border-radius: 7.5%;
    position: absolute;
    top: 3000px;
    left: -0.5px;
    right: 45px;
    bottom: 0;
    padding-right: 60px;
    margin-top: 0;
    place-items: center;
    width: 93%;
    display: grid;
    grid-row-start: initial;
    grid-template-columns: 40% 60%;
    grid-template-rows: max-content;
    font-family: Poppins, sans-serif;
  }

  .top {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0;
    margin-bottom: 100px;
    width: 327px;
    height: 409px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .pt2 {
    width: 400px;
    margin: 0;
  }

  .prt {
    width: 400px;
    margin: 0;
  }

  .prt2 {
    width: 400px;
    margin: 0;
  }

  .jhora {
    width: 400px;
    margin: 0;
    height: 60px;
  }

  .top h2 {
    margin-bottom: 0;
  }

  .smd h2 {
    margin-bottom: 0;
  }

  .smd ul {
    margin-top: 8px;
  }

  .pta2 {
    margin-bottom: 0;
  }

  .programmes ul {
    display: flex;
    justify-content: space-between;
    margin-right: 0;
  }

  button {
    text-decoration: none !important;
  }

  .pro {
    display: flex;
    flex-direction: column;
    flex: none;
    order: 0;
    flex-grow: 0;
    background-color: #dfe1e6;
    margin: 2px;
    padding: 5px;
    border-radius: 10px;
    align-items: center;
  }

  .stt {
    width: 157px;
    height: 24px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .form-section {
    background-image:
      url('statics/images//statics/e1.svg'),
      url('statics/images/r1.svg'),
      url('statics/images/e2.svg'),
      url('statics/images/r2.svg'),
      url('statics/images/e3.svg'),
      url('statics/images/r3.svg'),
      url('statics/images/e4.svg'),
      url('statics/images/e5.svg'),
      url('statics/images/contact-form-\ background.svg');
    background-repeat: no-repeat;
    background-position:
      5.2% 44%,
      5.83% 40.07%,
      120% 8.06%,
      100.16% 8%,
      24.86% 90.19%,
      23.4% 87.58%,
      36.4% 13.47%,
      78.4% 61.58%,
      0;
    background-size: auto, auto, 90px 89px, auto, auto, auto, auto, auto, cover;
    width: 100%;
    height: 689px;
    margin: 0;
    top: 3700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
  }
}