body {
  background-color: #f2f2f8;
  margin: 0;
}
.portfolio {
  display: flex;
  min-height: 500px;
}

.toolbar {
  display: flex;
  width: 100%;
  height: 30px;
  justify-content: space-between;
}

.logo-placeholder {
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 30%;
  height: 30px;
}

.mylogo {
  width: 76px;
  height: 20px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
}

.icon {
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 30%;
  height: 30px;
  left: 70%;
}

.nav:hover {
  cursor: pointer;
}

#home_presentation {
  background-image: url("../statics/images/Ellipse 11.png"), url("../statics/images/Rectangle 4.png"), url("../statics/images/Ellipse\ 3.png"), url("../statics/images/Ellipse\ 8.png"), url("../statics/images/Ellipse\ 5.png"), url("../statics/images/Rectangle\ 7.png"), url("../statics/images/Ellipse 12.png"), url("../statics/images/Ellipse 4.png"), url("../statics/images/Rectangle\ 5.png"), url("../statics/images/Ellipse\ 13.png"), url("../statics/images/Ellipse\ 15.png");
  background-position: 19px 79px, 294px 68px, 323px 102px, 214px 110px, 125px 106px, 127px 98px, 370px 385px, 290px 509px, 240px 507px, 357px 392px, 106px 497px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  position: absolute;
  align-items: flex-start;
  top: 40px;
}

.short-presentation {
  width: 100%;
  padding: 0 10px;
  height: 150px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 52px;
  display: flex;
  text-align: center;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  position: relative;
}

#home_presentation p {
  font-family: Poppins, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: 12px 24px 0 24px;
  align-content: center;
  position: relative;
}

#works {
  grid-template-rows: 25% 25% 25% 25%;
  height: 650px;
}

#my_work {
  grid-row: 1 / 1 span;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 650px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.snapshot_portfolio {
  width: 80%;
  height: 300px;
  background: url(/statics/images/blob.png);
  background-size: 100% 300px;
  border-radius: 8px;
  grid-column: 1/2 span;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#ptext {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0;
  width: 500px;
  height: 80px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.ptitle {
  width: 295px;
  height: 36px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 240px;
  height: 24px;
  justify-content: space-between;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.pdesc {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  width: 295px;
  height: 76px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.skills {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 240px;
  height: 24px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.skill1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 53px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 2;
  flex-grow: 0;
  text-align: center;
}

.skill2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 29px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 2;
  flex-grow: 0;
  text-align: center;
}

.skill3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 89px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 2;
  flex-grow: 0;
  text-align: center;
}

.title1 {
  width: 29px;
  height: 16px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.title2 {
  width: 29px;
  height: 16px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.title3 {
  width: 89px;
  height: 16px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.data-inf {
  margin-left: 24px;
  margin-top: 114px;
  margin-right: 12px;
}

#presentation {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

#presentation:hover {
  text-decoration: underline;
  text-decoration-color: #344563;
  text-decoration-thickness: 1px;
}

#profile_link {
  display: flex;
  flex-direction: column;
}

#profile_link h2 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

#profile_link h2:hover {
  text-decoration: underline;
  text-decoration-color: #18a0fa;
  text-decoration-thickness: 3px;
}

#profile_link ul {
  display: flex;
  padding-left: 0;
}

#profile_link ul li {
  list-style: none;
  margin-right: 12px;
}

#my_resume {
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  border: 1px solid #396df2;
  border-radius: 5px;
  text-align: center;
  padding: 10px 0;
  align-self: baseline;
}

#my_resume:hover {
  text-decoration: underline;
  text-decoration-color: black;
  text-decoration-thickness: 1px;
}

#my_skills {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  margin-left: 24px;
}

#languages_skills {
  display: flex;
  flex-direction: column;
}

.form-section {
  background-image:
    url("statics/images//statics/e1.svg"),
    url("statics/images/r1.svg"),
    url("statics/images/e2.svg"),
    url("statics/images/r2.svg"),
    url("statics/images/e3.svg"),
    url("statics/images/r3.svg"),
    url("statics/images/e4.svg"),
    url("statics/images/e5.svg"),
    url("statics/images/contact-form-\ background.svg");
  background-repeat: no-repeat;
  background-position:
    5.2% 44%,
    5.83% 40.07%,
    90% 18.06%,
    84.16% 8%,
    24.86% 90.19%,
    23.4% 87.58%,
    36.4% 13.47%,
    78.4% 61.58%,
    0;
  background-size: auto, auto, auto, auto, auto, auto, auto, auto, cover;
  height: 779px;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
  height: 779px;
}

.contact-title {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

.contact-desc {
  width: 327px;
  height: 102px;
  left: 24px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 330px;
}

input::placeholder {
  color: #172b4d;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  padding: 18px;
}

textarea::placeholder {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  padding: 18px;
}

.form-comment {
  height: 150px;
}

button {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  color: #7f8cff;
  background-color: #fff;
  padding: 12px 12px 12px 12px;
  border: 1px solid #7f8cff;
  transition: 0.4s all;
  border-radius: 10px;
}

button:active {
  color: #fff;
  background-color: #2230d2;
}

button:disabled {
  background-color: #f4f1f0;
  color: #c1c7d0;
  border: 1px solid #c1c7d0;
}

.form-container button {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  width: 140px;
  height: 48px;
  left: 24px;
  background: #fff;
  border-radius: 8px;
}

.form-container button:hover {
  color: #fff;
  background-color: #6070ff;
}

input {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 300px;
  height: 48px;
}